body{
    background-color: black;
    color: blue;
}
h1{
    border: 10px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 20vw;
    font-size: 4em;
}
.div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}